* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --black: #121214;
    --blue: #823DDB;
    --gray: #202024;



    font-size: 62.5%;
}
/* 
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--dark4);
} */


body{
    background-color: var(--black);
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: var(--white);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    background-color: var(--dark1);
    min-height: 8rem;
}

nav{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--blue);
    transition: .4s;
}

.link-actions{
    text-decoration: none;
    width: 20rem;
    text-align: center;
}

main{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display:flex;
    flex-direction: column;
    gap: 3.2rem;
    /* flex-wrap: no-wrap; */
    align-items: center;
    height: 700px;
}

.box-introduction {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    gap: 3rem;
    /* min-width: 50rem; */
}

.box-introduction h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
}

strong{
    color: var(--cyan1);
}

.box-img-main{
    margin-top: 2.4rem;
    max-width: 25rem;
    padding: 1rem;
}

.img-profile{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.box-introduction p{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
}

.second-section{
    display: flex;
    flex-direction: column;
    height: 997px;
    gap: 4.8rem;
    padding: 6.4rem;
    align-items: center;
    background-color: var(--gray);
}

.second-section h2{
    font-weight: bold;
    font-size: 4.0rem;
}

.second-section p{
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}

/* .second-section, .fourth-section{
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
} */

.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section ul li{
    color: var(--dark4);
    letter-spacing: .2rem;
    font-weight: bold;
}

.second-section ul li:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}

.title{
    color: var(--dark5);
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 25rem;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 60rem;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark3);
}

#my-projects-list a:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: pointer;
}

:is(.img-profile, who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}